.book {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(19, 18, 18);
  /* Optionnel : image de fond */
  /* background: url(../../assets/images/background.jpg) no-repeat center center; */
  background-size: cover;
}

.book-content {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-button {
  background-color: #8b4513;
  color: #f0e6d2;
  border: none;
  padding: 10px 20px;
  font-family: "Cinzel", serif;
  cursor: pointer;
  margin: 0 20px;
  transition: transform 0.2s;
}

.nav-button:disabled {
  background-color: #5a2d0c;
  cursor: not-allowed;
}

.page-wrapper {
  width: 800px;
  height: 800px;
  position: relative;
  perspective: 1500px; /* Donne un effet 3D */
  overflow: hidden; /* Masque les pages hors du conteneur */
}

.animated-page {
  width: 100%;
  height: 100%;
  background: #fdf6e3;
  position: absolute;
  backface-visibility: hidden; /* Cache le verso */
  transform-origin: left center;
  border: 1px solid #8b4513;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ajout d'un fond sous la page lors de l'animation */
.page-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/page.png"); /* Fond de la page vide */
  background-size: cover;
  z-index: -1; /* Met le fond derrière la page */
  border-radius: 10px; /* Ajouter un léger rayon pour les bords arrondis */
}
