/*  ANIMATIONS SECTION  */
h1,
h2,
h3,
p,
ul,
article,
section {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  animation-delay: 0.2s;
}

h2 {
  animation-delay: 0.4s;
}

p:nth-of-type(1) {
  animation-delay: 0.6s;
}

p:nth-of-type(2) {
  animation-delay: 0.8s;
}

p:nth-of-type(3) {
  animation-delay: 1s;
}
/*  PAGE STRUCTURE  */

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../public/page.png");
  background-size: cover;
  height: 720px;
  width: 720px;
  text-align: center;
  font-family: "Cinzel", serif;
  color: #5a2d0c;
}

/*  PAGE 1  */
.page-text {
  max-width: 60ch;
  margin: 3rem;
}

/*  PAGE 2  */
.skills-title {
  margin: 2rem;
}

li {
  list-style-type: none;
}

.skills {
  display: flex;
  justify-content: center;
}

.comp-img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.skills-item {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 2rem;
  padding-right: 1rem;
  box-shadow: 5px 5px 5px 0px rgb(194, 150, 93), inset 0px 0px 15px 0px
    rgb(194, 150, 93);
  transition: 0.2s;
}

.skills-item:hover {
  transform: scale(1.1);
}

/*  PAGE 3  */
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.project-details {
  position: absolute;
  transform: scale(3);
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 40rem;
  margin: 3rem;
}

.projects-img {
  aspect-ratio: 16 / 9;
  width: 150px;
  height: 100px;
  border: #5a2d0c 2px solid;
  margin-bottom: 0.5rem;
}

.projects-img:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.popup-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: rgb(194, 150, 93);
  color: #5a2d0c;
  border-radius: 10px;
  border: #5a2d0c 5px solid;
  padding: 1rem;
  max-width: 600px;
  width: 90%;
  text-align: center;
  position: relative;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-out; /* Animation pour plus de fluidité */
}

.popup-img {
  max-width: 100%;
  border-radius: 10px;
}

.popup-text {
  margin: 1rem;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
}

.close-button:hover {
  background: darkred;
}

/*  PAGE 4  */

.page4-content {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 4rem;
}

.social-img {
  width: 50px;
  height: 50px;
  margin: 1.5rem 2rem 5rem 1.5rem;
}

.social-img:hover {
  transform: scale(1.1);
}

.contact-text {
  margin: 0.5rem;
  font-weight: bold;
}
#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  background-color: rgba(235, 204, 161, 0.2);
  padding: 1rem;
  border-radius: 25px;
}

#name,
#company,
#email,
#message,
#phone {
  background-color: rgb(255, 200, 122);
}

.form-container {
  display: flex;
  width: 15rem;
  justify-content: space-between;
  margin: 0.5rem;
  align-items: center;
}

.message-container {
  display: flex;
  align-items: center;
}

#message {
  width: 11rem;
  height: 5rem;
  margin: 1rem;
}

.submit-button {
  background-color: #8b4513;
  color: #f0e6d2;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
  padding: 8px 20px;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .page {
    background: url("../../public/page2.jpg");
    background-size: cover;
    width: 100%;
    height: 60vh;
    box-shadow: 5px 5px 15px 2px #252525;
  }

  .page-text {
    margin: 0.8rem;
    font-size: 0.84rem;
  }

  .skills-item {
    margin: 0.5rem;
    width: 85%;
    font-size: 0.8rem;
  }

  .projects-container {
    margin: 0;
  }

  article h3 {
    font-size: 0.8rem;
  }

  .projects-img {
    width: 100px;
    height: 70px;
  }

  .form-container {
    width: 40%;
    padding: 0.2rem;
    font-size: 0.8rem;
  }

  #name,
  #email,
  #company,
  #phone {
    width: 70%;
  }

  .social-img {
    margin: 1rem 0 0 1rem;
    height: 40px;
    width: 40px;
  }

  .page4-content {
    margin: 0;
    flex-direction: column;
  }

  #contact-form {
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0.2rem;
    background-color: rgba(235, 204, 161, 0.6);
  }
  .message-container {
    font-size: 0.8rem;
    margin-left: 1rem;
  }

  .submit-button {
    margin-left: 35%;
  }

  .contact-text {
    font-size: 0.9rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .page {
    flex-direction: column;
  }
}
