.cover {
  width: 40%;
  height: 80%;
  background: url("../../assets/images/bookcover.png") no-repeat center center;
  background-size: cover;
  border: 5px solid #743305;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Cinzel", serif;
  color: #f0e6d2;
  cursor: pointer;
  transform-origin: left center;
  transition: transform 1s ease-in-out;
}

.cover-opening {
  transform: rotateY(-180deg);
  pointer-events: none;
}
